.banner .carousel-inner img.bg {
  height: 860px;
  width: 100%;
}
.banner .carousel-inner .mark-strip {
  width: 51px;
  height: 4px;
  background: #ffffff;
}
@media only screen and (max-width: 1440px) {
  .banner .carousel-item .icon-en,
  .banner .carousel-item .carousel-caption {
    width: 1000px;
  }
}
.banner .carousel-item.banner1 .more {
  margin-top: 138px;
}
.banner .carousel-item.banner2 .carousel-caption,
.banner .carousel-item.banner2 .icon-en {
  text-align: right;
}
.banner .carousel-item.banner2 .more {
  float: right;
  margin-top: 100px;
}
.banner .carousel-item .icon-en {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1200px;
}
.banner .carousel-item .icon-en .en {
  font-size: 19px;
  font-family: 'Helvetica Neue';
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.5;
}
.banner .carousel-item .icon-en .mark-strip {
  width: 43px;
  height: 6px;
  background: #2d75d0;
}
.banner .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  text-align: left;
  bottom: 156px;
  width: 1200px;
  margin: 0 auto;
}
.banner .carousel-caption .title {
  font-size: 60px;
  margin-bottom: 34px;
  color: #fff;
}
.banner .carousel-caption:nth-of-type(1) .title-en {
  letter-spacing: 8px;
}
.banner .carousel-caption .title-en {
  font-size: 14px;
  margin-bottom: 27px;
  letter-spacing: 7px;
  font-weight: lighter;
}
.banner .carousel-caption .key {
  font-size: 38px;
  margin-bottom: 22px;
}
.banner .carousel-caption .more {
  width: 129px;
  height: 34px;
  display: block;
  border-radius: 17px;
  line-height: 34px;
  margin-top: 108px;
  text-decoration: none;
  color: #fff;
}
.banner .carousel-control-prev,
.banner .carousel-control-next {
  z-index: 11;
}
.banner .carousel-control-prev-icon,
.banner .carousel-control-next-icon {
  background-image: url(../imgs/index/arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 45px;
  height: 47px;
}
.banner .carousel-control-prev-icon:hover {
  background-image: url(../imgs/index/arrow-hover.png);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.banner .carousel-control-next-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.banner .carousel-control-next-icon:hover {
  background-image: url(../imgs/index/arrow-hover.png);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.content .introduction,
.content .product {
  padding: 100px 0;
  position: relative;
}
.content .introduction {
  background-repeat: no-repeat;
  background-size: 87%;
  background-position: 86% -58%;
}
.content .introduction .media-body {
  margin-right: 142px;
}
.content .introduction .threeT {
  -webkit-box-flex: 0.8;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: center;
  position: relative;
  top: -22px;
}
.content .introduction .threeT .threeT-shell {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .introduction .threeT .threeT-shell .OT,
.content .introduction .threeT .threeT-shell .IT,
.content .introduction .threeT .threeT-shell .IoT,
.content .introduction .threeT .threeT-shell .text-analysis,
.content .introduction .threeT .threeT-shell .text-app,
.content .introduction .threeT .threeT-shell .text-perception,
.content .introduction .threeT .threeT-shell .center {
  cursor: default;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.content .introduction .threeT .threeT-shell .OT:hover,
.content .introduction .threeT .threeT-shell .IT:hover,
.content .introduction .threeT .threeT-shell .IoT:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
.content .introduction .threeT .threeT-shell .text-analysis:hover,
.content .introduction .threeT .threeT-shell .text-app:hover,
.content .introduction .threeT .threeT-shell .text-perception:hover,
.content .introduction .threeT .threeT-shell .center:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.content .introduction .threeT .threeT-shell .OT {
  position: absolute;
  top: -127px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .introduction .threeT .threeT-shell .IT {
  position: absolute;
  right: -72px;
  bottom: -30px;
}
.content .introduction .threeT .threeT-shell .IoT {
  position: absolute;
  left: -52px;
  bottom: -4px;
}
.content .introduction .threeT .threeT-shell .center {
  position: absolute;
  z-index: 10;
  top: 71px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .introduction .threeT .threeT-shell .text-analysis {
  position: absolute;
  z-index: 10;
  font-size: 26px;
  font-weight: bold;
  color: #245ca0;
  right: -12px;
  top: 27px;
}
.content .introduction .threeT .threeT-shell .text-app {
  position: absolute;
  z-index: 10;
  font-size: 26px;
  font-weight: bold;
  color: #245ca0;
  left: -12px;
  top: 27px;
}
.content .introduction .threeT .threeT-shell .text-perception {
  position: absolute;
  z-index: 10;
  font-size: 26px;
  font-weight: bold;
  color: #245ca0;
  bottom: -22px;
  right: 42%;
}
.content .introduction .btn-more {
  color: #1052a4;
  font-size: 18px;
  border-bottom: 1px solid #1052a4;
  line-height: 20px;
}
.content .introduction .btn-more:hover {
  color: #319bd0;
  border-bottom-color: #319bd0;
}
.content .introduction .btn-more:hover .icon-triangle {
  background-image: url(../imgs/index/more-hover.png);
}
.content .introduction .info {
  margin-bottom: 2rem;
  font-size: 16px;
  color: #333;
  line-height: 38px;
}
.content .introduction .info:last-of-type {
  margin-bottom: 4rem;
}
.content .introduction .sub {
  margin-bottom: 4rem;
}
.content .solution {
  background-repeat: no-repeat;
  padding: 90px;
  height: 963px;
  width: 100%;
  z-index: -1;
}
.content .solution .btn-more {
  line-height: 20px;
  height: 38px;
  background: -webkit-linear-gradient(325deg, #329cd0 0%, #2d76d0 100%);
  background: linear-gradient(125deg, #329cd0 0%, #2d76d0 100%);
  border-radius: 19px;
  color: #fff;
  font-size: 16px;
  padding: 11px 17px 11px 28px;
}
.content .solution .btn-more:hover {
  background: -webkit-linear-gradient(325deg, #14489f 0%, #2b6bcd 100%);
  background: linear-gradient(125deg, #14489f 0%, #2b6bcd 100%);
}
.content .solution .sub {
  margin-bottom: 4rem;
}
.content .solution .card {
  padding: 70px 100px;
}
.content .solution .btn-more {
  margin-top: 4rem;
}
.content .solution .solution-item {
  background: rgba(6, 25, 49, 0.85);
  box-shadow: 0px 0px 15px 2px rgba(39, 44, 49, 0.11);
  border-radius: 4px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .solution .solution-item .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 473px;
  text-align: center;
}
.content .solution .solution-item .item .sub-title {
  line-height: 31px;
  font-size: 12px;
}
.content .solution .solution-item .item .shell {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 100%;
  height: 100%;
  padding: 0 48px;
}
.content .solution .solution-item .item .shell:hover {
  cursor: pointer;
  padding: 0 44px;
  padding-top: 48px;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  background: #0f51a4;
}
.content .solution .solution-item .item .shell:hover .icon {
  display: none !important;
}
.content .solution .solution-item .item .shell:hover .title::after {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -16px;
}
.content .solution .solution-item .item .shell:hover .li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .solution .solution-item .item .shell:hover .summary {
  -webkit-line-clamp: 5;
}
.content .solution .solution-item .item .shell:hover .lights {
  display: -webkit-box;
}
.content .solution .solution-item .item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.content .solution .solution-item .item .icon {
  display: inline-block;
  width: 96px;
  height: 83px;
  margin-top: 70px;
  margin-bottom: 58px;
  background-repeat: no-repeat;
}
.content .solution .solution-item .item .title {
  position: relative;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.content .solution .solution-item .item .title p {
  margin: 0;
}
.content .solution .solution-item .item .title.icon-space::before,
.content .solution .solution-item .item .title.icon-space::after {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  background: #fff;
  position: absolute;
}
.content .solution .solution-item .item .title.icon-space::before {
  left: 0;
}
.content .solution .solution-item .item .title.icon-space::after {
  right: 0;
}
.content .solution .solution-item .item .text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  -ms-display: box;
  -ms-box-orient: vertical;
  -ms-line-clamp: 4;
  overflow: hidden;
  margin-bottom: 16px;
}
.content .solution .solution-item .item .text.lights {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: none;
}
.content .solution .solution-item .item .li {
  font-size: 14px;
  margin-bottom: 16px;
  color: #fff;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .solution .solution-item .item .li::before {
  content: '';
  display: block;
  width: 4px;
  height: 13px;
  background: #ffffff;
  margin-right: 12px;
}
.content .product {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.content .product .btn-more {
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  line-height: 15px;
}
.content .product .exam {
  width: 377px;
  height: 260px;
  background: #fff;
}
.content .product .exam.gas,
.content .product .exam.smartServe,
.content .product .exam.bigData,
.content .product .exam.iot-gas,
.content .product .exam.system {
  background-repeat: no-repeat;
  background-position: center;
}
.content .product .swiper-shell {
  position: relative;
}
.content .product .swiper-shell .swiper-button-prev,
.content .product .swiper-shell .swiper-button-next {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 2px rgba(39, 43, 48, 0.11);
  background-size: 100%;
  outline: none;
}
.content .product .swiper-shell .swiper-button-prev::after,
.content .product .swiper-shell .swiper-button-next::after {
  content: '';
}
.content .product .swiper-shell .swiper-button-prev {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  left: 100px;
}
.content .product .swiper-shell .swiper-button-prev:hover {
  background-image: url(../imgs/index/slide-btn--active.png) !important;
}
.content .product .swiper-shell .swiper-button-next {
  right: 100px;
}
.content .product .swiper-shell .swiper-button-next:hover {
  background-image: url(../imgs/index/slide-btn--active.png) !important;
}
.content .product .swiper-shell .swiper-pagination {
  width: 100%;
}
.content .product .swiper-shell .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: #fff;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.content .product .swiper-shell .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border: 3px solid #00aadc;
}
.content .product .swiper-container {
  margin: 0 47px;
}
.content .product .swiper-container .swiper-slide {
  margin-top: 100px;
  width: 420px;
  height: 579px;
  box-shadow: 0px 0px 12px 5px rgba(4, 29, 62, 0.39);
}
.content .product .swiper-container .swiper-slide .exam {
  margin-top: -41px;
  margin-bottom: 46px;
}
.content .product .swiper-container .swiper-slide .card {
  padding: 0 25px 55px;
  height: 100%;
  color: #fff;
  background: #4c83c8;
  border: 1px solid cornflowerblue;
}
.content .product .swiper-container .swiper-slide .card .card-body {
  padding: 0 28px 38px;
  width: 368px;
}
.content .product .swiper-container .swiper-slide .card .card-title {
  line-height: 23px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}
.content .product .swiper-container .swiper-slide .card .card-text {
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.content .product .swiper-container .swiper-slide .card .more,
.content .product .swiper-container .swiper-slide .card .more-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.content .product .swiper-container .swiper-slide .card .more-box {
  height: 55px;
}
.content .product .swiper-container .swiper-slide .card .more {
  -webkit-transform: translateY(56px);
  -ms-transform: translateY(56px);
  transform: translateY(56px);
  padding: 12px 0;
  background: #062449;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.content .product .swiper-container .swiper-slide .card .more:hover .btn-more {
  border-bottom-color: #319bd0;
  color: #319bd0;
}
.content .product .swiper-container .swiper-slide .card .more:hover .btn-more .icon-triangle {
  background-image: url(../imgs/index/more-hover.png);
}
.content .product .swiper-container .swiper-slide .card .more .btn-more {
  border-bottom-color: #fff;
}
.content .product .swiper-container .swiper-slide .card .more .btn-more .icon-triangle {
  width: 6px;
  height: 11px;
}
.content .product .swiper-container .swiper-slide .card.show-more {
  cursor: pointer;
}
.content .product .swiper-container .swiper-slide .card.show-more .more {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.content .product .swiper-container .swiper-slide-active .card,
.content .product .swiper-container .swiper-slide-duplicate-active .card {
  background: #0f51a4;
}
.content .btn-more {
  font-weight: bold;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  outline: none;
  border: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 1px;
}
.content .btn-more .icon-triangle {
  display: inline-block;
  width: 8px;
  height: 15px;
  margin-left: 22px;
  background-image: url(../imgs/index/more_.png);
  background-size: cover;
}
.content .btn-more .icon-triangle.white {
  background-image: url(../imgs/index/more.png);
}
.content .btn:focus {
  box-shadow: none !important;
}
.gradient {
  background: -webkit-linear-gradient(325deg, #329cd0 0%, #2d76d0 100%);
  background: linear-gradient(125deg, #329cd0 0%, #2d76d0 100%);
}
.gradient:hover {
  background: -webkit-linear-gradient(325deg, #14489f 0%, #2b6bcd 100%);
  background: linear-gradient(125deg, #14489f 0%, #2b6bcd 100%);
}
