.banner-static {
  height: 380px;
  background-image: url(../imgs/product/banner_.png);
}
.content {
  color: #343434;
  padding: 100px 0;
  line-height: 24px;
}
.content .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
.content .sub-title {
  font-size: 16px;
  margin: 24px 0;
}
.content .part p {
  font-size: 14px;
}
.content .part p:not(.li) {
  text-indent: 2em;
  margin-bottom: 0;
}
.content .part p.li:not(:nth-of-type(1)) {
  margin-top: 40px;
}
.content .part.part {
  margin-top: 40px;
}
.content .part .text--img {
  text-align: justify;
  display: inline-block;
  width: -webkit-calc(-200%);
  width: calc(100% - 300px);
}
.content #civil,
.content #commercial,
.content #collector,
.content #system,
.content #cloudServices,
.content #bigData {
  display: none;
}
.content #civil.show,
.content #commercial.show,
.content #collector.show,
.content #system.show,
.content #cloudServices.show,
.content #bigData.show {
  display: block;
}
.content img {
  max-width: 80%;
}
