.banner-static {
  height: 520px;
  background-image: url(../imgs/solution/banner1_.png);
}
.content {
  padding: 100px 0;
}
.content .part + .part {
  margin-top: 100px;
  margin-bottom: 100px;
}
.content .sub {
  margin-bottom: 70px;
}
.content .part .text {
  line-height: 38px;
}
.content .solution-e2e,
.content .solution-iot,
.content .solution-icCard,
.content .solution-gas {
  position: relative;
  padding: 60px 112px;
  border: 3px solid transparent;
}
.content .solution-e2e .detail,
.content .solution-iot .detail,
.content .solution-icCard .detail,
.content .solution-gas .detail {
  margin-top: 35px;
}
.content .solution-e2e.ml,
.content .solution-iot.ml,
.content .solution-icCard.ml,
.content .solution-gas.ml {
  margin-left: 175px;
}
.content .solution-e2e.mr,
.content .solution-iot.mr,
.content .solution-icCard.mr,
.content .solution-gas.mr {
  margin-right: 175px;
}
.content .solution-e2e .box2left,
.content .solution-iot .box2left,
.content .solution-icCard .box2left,
.content .solution-gas .box2left {
  margin-left: -356px;
}
.content .solution-e2e .box2right,
.content .solution-iot .box2right,
.content .solution-icCard .box2right,
.content .solution-gas .box2right {
  margin-right: -356px;
}
.content .solution-e2e .ml,
.content .solution-iot .ml,
.content .solution-icCard .ml,
.content .solution-gas .ml {
  margin-left: 134px;
}
.content .solution-e2e .mr,
.content .solution-iot .mr,
.content .solution-icCard .mr,
.content .solution-gas .mr {
  margin-right: 134px;
}
.content .solution-e2e:hover,
.content .solution-iot:hover,
.content .solution-icCard:hover,
.content .solution-gas:hover {
  border-color: #045db8;
  cursor: pointer;
}
.content .solution-e2e .block {
  width: 42px;
  height: 42px;
  background: #4c83c8;
  position: absolute;
  right: -187px;
  top: -3px;
}
.content .img-shell {
  white-space: nowrap;
}
.content .img-shell img {
  width: 533px;
  height: 366px;
}
.content .img-shell .icon-text {
  display: inline-block;
  vertical-align: top;
  font-family: 'Microsoft YaHei';
  font-weight: 400;
  color: #cccccc;
  line-height: 20px;
}
.content .img-shell .icon-text.left {
  -webkit-transform: rotate(-90deg) translateX(-50%);
  -ms-transform: rotate(-90deg) translateX(-50%);
  transform: rotate(-90deg) translateX(-50%);
  margin-right: -20px;
}
.content .img-shell .icon-text.right {
  -webkit-transform: rotate(90deg) translateX(50%);
  -ms-transform: rotate(90deg) translateX(50%);
  transform: rotate(90deg) translateX(50%);
  margin-left: -20px;
}
